streamlit
wikipedia
requests
beautifulsoup4
sentence-transformers
tinydb
langchain
langchain-community
langchain-openai
google-generativeai
duckduckgo-search
transformers
torch
huggingface_hub
supabase
pillow
python-dotenv 
psycopg2-binary
tiktoken
diffusers
accelerate